*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# App build output
/app/build
/core/build

# Android
*.apk
*.aab
*.ap_
*.dex

# Kotlin
*.class

# Native
*.so

# IDE
*.swp
*.swo
*~
.project
.classpath
.settings/
